<%- include('../layouts/header.ejs') %>

<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <!-- <h3>Kenza  Store</h3> -->
      </div>
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
                <img class="img-xs rounded-circle " src="/admin/assets/images/faces/face15.jpg" alt="">
                <span class="count bg-success"></span>
              </div>
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                <span>Gold Member</span>
              </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-primary"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-onepassword  text-info"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar-today text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/dash">
            <span class="menu-icon">
              <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item menu-items ">
          <a class="nav-link" href="/admin/users">
            <span class="menu-icon">
              <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Users</span>
          </a>
          
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/products">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Products</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/orders">
            <span class="menu-icon">
              <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Orders</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/offers">
            <span class="menu-icon">
              <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Offers</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/coupon">
            <span class="menu-icon">
              <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Coupons</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin/Category">
            <span class="menu-icon">
              <i class="mdi mdi-file-document-box"></i>
            </span>
            <span class="menu-title">Category</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/admin/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <input type="text" class="form-control" placeholder="Search products">
              </form>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-lg-block">
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                <h6 class="p-3 mb-0">Projects</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-file-outline text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Software Development</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-web text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">UI Development</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-layers text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Software Testing</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">See all projects</p>
              </div>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-view-grid"></i>
              </a>
            </li>
            <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-email"></i>
                <span class="count bg-success"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                <h6 class="p-3 mb-0">Messages</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/admin/assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                    <p class="text-muted mb-0"> 1 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/admin/assets/images/faces/face2.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
                    <p class="text-muted mb-0"> 15 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/admin/assets/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">Profile picture updated</p>
                    <p class="text-muted mb-0"> 18 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">4 new messages</p>
              </div>
            </li>
            <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-bell"></i>
                <span class="count bg-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Event today</p>
                    <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Settings</p>
                    <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-link-variant text-warning"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Launch Admin</p>
                    <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">See all notifications</p>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                <div class="navbar-profile">
                  <img class="img-xs rounded-circle" src="/admin/assets/images/faces/face15.jpg" alt="">
                  <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                  <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                <h6 class="p-3 mb-0">Profile</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-logout text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Log out</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">Advanced settings</p>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>

      <!-- main  -->

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                   
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add Product</h4>
                                <form action="/admin/products/add" method="POST" enctype="multipart/form-data">
                                    <!-- Product Information -->
                                    <div class="form-group">
                                        <label for="productName">Name</label>
                                        <input type="text" class="form-control" id="productName" name="name" required>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="productSize">Size</label>
                                      <select class="form-control" id="productSize" name="size" required>
                                          <option value="" disabled selected>Select Size</option>
                
                                          <option value="S">S</option>
                                          <option value="M">M</option>
                                          <option value="L">L</option>
                                          <option value="XL">XL</option>
                                         
                                      </select>
                                  </div>
                                
                                    <div class="form-group">
                                        <label for="productDescription">Description</label>
                                        <textarea class="form-control" id="productDescription" name="description"></textarea>
                                    </div>
                                
                                    <div class="form-group">
                                        <label for="productCategory">Category</label>
                                        <select class="form-control" id="productCategory" name="categoryId">
                                            <% categories.forEach(category => { %>
                                                <option value="<%= category._id %>"><%= category.name %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                
                                    <div class="form-group">
                                      <label for="productPrice">Price</label>
                                      <input type="number" class="form-control" id="productPrice" name="price" required min="0" step="0.01" oninput="checkValid(this)">
                                  </div>
                  
                                  <div class="form-group">
                                      <label for="productQuantity">Quantity</label>
                                      <input type="number" class="form-control" id="productQuantity" name="quantity" required min="0" step="1" oninput="checkValid(this)">
                                  </div>
                                
                                    <!-- Product Image Uploads with Previews and Cropping -->
                                    <div class="form-group">
                                        <label for="productImage1">Image 1</label>
                                        <input type="file" class="form-control-file" id="productImage1" name="image1" accept="image/*">
                                        <img id="imagePreview1" src="#" alt="Selected Image 1" style="display: none; width: 150px; height: 150px; margin-top: 10px; object-fit: cover;" />
                                        <button type="button" class="btn btn-secondary" id="cropBtn1" style="display:none;" data-toggle="modal" data-target="#cropModal1">Crop Image</button>
                                    </div>

                                    <!-- Crop Modal for Image 1 -->
                                    <div class="modal fade" id="cropModal1" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel1" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="cropModalLabel1">Crop Image 1</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img id="cropImage1" src="#" alt="Image to crop" style="width:100%; max-height:400px;" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-primary" id="saveCropBtn1">Save Crop</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="productImage2">Image 2</label>
                                        <input type="file" class="form-control-file" id="productImage2" name="image2" accept="image/*">
                                        <img id="imagePreview2" src="#" alt="Selected Image 2" style="display: none; width: 150px; height: 150px; margin-top: 10px; object-fit: cover;" />
                                        <button type="button" class="btn btn-secondary" id="cropBtn2" style="display:none;" data-toggle="modal" data-target="#cropModal2">Crop Image</button>
                                    </div>

                                    <!-- Crop Modal for Image 2 -->
                                    <div class="modal fade" id="cropModal2" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel2" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="cropModalLabel2">Crop Image 2</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img id="cropImage2" src="#" alt="Image to crop" style="width:100%; max-height:400px;" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-primary" id="saveCropBtn2">Save Crop</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="productImage3">Image 3</label>
                                        <input type="file" class="form-control-file" id="productImage3" name="image3" accept="image/*">
                                        <img id="imagePreview3" src="#" alt="Selected Image 3" style="display: none; width: 150px; height: 150px; margin-top: 10px; object-fit: cover;" />
                                        <button type="button" class="btn btn-secondary" id="cropBtn3" style="display:none;" data-toggle="modal" data-target="#cropModal3">Crop Image</button>
                                    </div>

                                    <!-- Crop Modal for Image 3 -->
                                    <div class="modal fade" id="cropModal3" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel3" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="cropModalLabel3">Crop Image 3</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img id="cropImage3" src="#" alt="Image to crop" style="width:100%; max-height:400px;" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-primary" id="saveCropBtn3">Save Crop</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary">Add Product</button>
                                    <a href="/admin/products" class="btn btn-dark">Cancel</a>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Include Cropper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function checkValid(input) {
      if (input.value < 0) {
          input.value = 0;
          Swal.fire({
              icon: 'error',
              title: 'Invalid Input',
              text: 'Negative values are not allowed!',
              confirmButtonText: 'Okay',
              background: '#000', // Black background
              color: '#fff', // White text for better contrast
              customClass: {
                  popup: 'black-swal-popup', // Class for popup styling
                  confirmButton: 'black-swal-button', // Class for confirm button styling
              }
          });
      }
  }
</script>
<script>
  function setupCropper(inputId, previewId, cropModalId, cropImageId, cropBtnId, saveCropBtnId, uploadUrl) {
      let cropper;
  
      document.getElementById(inputId).addEventListener('change', function() {
          const file = this.files[0];
          if (file) {
              const reader = new FileReader();
              reader.onload = function(e) {
                  document.getElementById(cropImageId).src = e.target.result;
                  document.getElementById(previewId).src = e.target.result;
                  document.getElementById(previewId).style.display = 'block';
                  document.getElementById(cropBtnId).style.display = 'block';
  
                  // Initialize Cropper.js
                  if (cropper) {
                      cropper.destroy(); // Destroy any existing cropper instance
                  }
                  cropper = new Cropper(document.getElementById(cropImageId), {
                      aspectRatio: 1, // Set aspect ratio or remove for free cropping
                      viewMode: 1,
                      preview: `#${previewId}`
                  });
              };
              reader.readAsDataURL(file);
          }
      });
  
      document.getElementById(saveCropBtnId).addEventListener('click', function(event) {
          event.preventDefault(); // Prevent default if needed
          if (cropper) {
              const canvas = cropper.getCroppedCanvas();
              if (canvas) {
                  const croppedImageDataUrl = canvas.toDataURL(); // Get cropped image as Data URL
                  document.getElementById(previewId).src = croppedImageDataUrl; // Update preview image
  
                  // Convert Data URL to Blob
                  canvas.toBlob(function(blob) {
                      const formData = new FormData();
                      formData.append('croppedImage', blob, 'cropped-image.png'); // Append the image blob
  
                      // Send the cropped image to the server
                      fetch(uploadUrl, {
                          method: 'POST',
                          body: formData
                      })
                      .then(response => response.json())
                      .then(data => {
                          console.log('Success:', data);
                          // Handle success (e.g., show a message or update the UI)
                      })
                      .catch((error) => {
                          console.error('Error:', error);
                          // Handle error (e.g., show an error message)
                      });
                  });
  
                  $(`#${cropModalId}`).modal('hide').on('hidden.bs.modal', function () {
                      $('.modal-backdrop').remove();
                  }); // Hide the modal using Bootstrap's method
              } else {
                  console.error('Failed to get cropped canvas');
              }
          } else {
              console.error('Cropper instance not initialized');
          }
      });
  }
  
  // Initialize cropper for each image with a unique upload URL
  setupCropper('productImage1', 'imagePreview1', 'cropModal1', 'cropImage1', 'cropBtn1', 'saveCropBtn1', '/upload-url-for-product1');
  setupCropper('productImage2', 'imagePreview2', 'cropModal2', 'cropImage2', 'cropBtn2', 'saveCropBtn2', '/upload-url-for-product2');
  setupCropper('productImage3', 'imagePreview3', 'cropModal3', 'cropImage3', 'cropBtn3', 'saveCropBtn3', '/upload-url-for-product3');
  </script>
  

<%- include('../layouts/footer.ejs') %>

