
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../admin/assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../admin/assets/js/off-canvas.js"></script>
  <script src="../../admin/assets/js/hoverable-collapse.js"></script>
  <script src="../../admin/assets/js/misc.js"></script>
  <script src="../../admin/assets/js/settings.js"></script>
  <script src="../../admin/assets/js/todolist.js"></script>
    
<!-- </body>
</html> -->